[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.4.2.0"
apache-libcloud = "==2.2.1"
appdirs = "==1.4.3"
apturl = "==0.5.2"
asn1crypto = "==0.23.0"
awscli = "==1.11.133"
babel = "==2.5.1"
bcrypt = "==3.1.4"
bernhard = "==0.2.5"
bleach = "==2.1.2"
botocore = "==1.6.0"
bottle = "==0.12.13"
brlapi = "==0.6.5"
cassandra-driver = "==3.12.0"
certifi = "==2017.11.5"
cffi = "==1.11.2"
chardet = "==3.0.4"
chrome-gnome-shell = "==0.0.0"
click = "==6.7"
cliff = "==2.9.1"
cmd2 = "==0.7.8"
colorama = "==0.3.7"
coloredlogs = "==7.1"
command-not-found = "==0.3"
couchdb = "==1.1"
cryptography = "==2.1.4"
cupshelpers = "==1.0"
cycler = "==0.10.0"
debtcollector = "==1.19.0"
decorator = "==4.1.2"
defer = "==1.0.6"
deprecation = "==1.0.1"
distro-info = "==0.17"
docker = "==2.6.1"
docker-pycreds = "==0.2.1"
docutils = "==0.14"
elasticsearch = "==6.0.0"
entrypoints = "==0.2.3"
enum-compat = "==0.0.2"
flask = "==0.12.2"
future = "==0.16.0"
github-backup = "==0.16.0"
glances = "==2.11.1"
html5lib = "==1.0.1"
httpie = "==0.9.9"
httplib2 = "==0.10.3"
humanfriendly = "==4.4"
idna = "==2.6"
influxdb = "==5.0.0"
ipykernel = "==4.7.0"
ipython = "==6.2.1"
ipython-genutils = "==0.2.0"
ipywidgets = "==6.0.0"
iso8601 = "==0.1.12"
itsdangerous = "==0.24"
jedi = "==0.11.0"
jinja2 = "==2.10"
jmespath = "==0.9.3"
jsonpatch = "==1.20"
jsonpointer = "==1.14"
jsonschema = "==2.6.0"
jupyter = "==1.0.0"
jupyter-client = "==5.1.0"
jupyter-console = "==5.1.0"
jupyter-core = "==4.4.0"
kafka-python = "==1.3.5"
keyring = "==10.5.0"
"keyrings.alt" = "==2.3"
keystoneauth1 = "==3.3.0"
language-selector = "==0.1"
launchpadlib = "==1.10.5"
"lazr.restfulclient" = "==0.13.5"
"lazr.uri" = "==1.0.3"
louis = "==3.0.0"
mako = "==1.0.7"
markupsafe = "==1.0"
matplotlib = "==2.0.2"
meld = "==3.18.0"
mistune = "==0.8.3"
monotonic = "==1.4"
msgpack-python = "==0.4.8"
nbconvert = "==5.3.1"
nbformat = "==4.4.0"
netaddr = "==0.7.19"
netifaces = "==0.10.6"
notebook = "==5.2.2"
numpy = "==1.13.3"
nvidia-ml-py = "==375.53.1"
oauth = "==1.0.1"
olefile = "==0.44"
openstacksdk = "==0.9.19"
os-client-config = "==1.28.0"
osc-lib = "==1.7.0"
"oslo.config" = "==4.11.0"
"oslo.i18n" = "==3.19.0"
"oslo.serialization" = "==2.22.0"
"oslo.utils" = "==3.33.0"
pandas = "==0.21.0"
pandocfilters = "==1.4.2"
paramiko = "==2.4.0"
parso = "==0.1.0"
pbkdf2 = "==1.3"
pbr = "==3.1.1"
pexpect = "==4.3.1"
pickleshare = "==0.7.4"
pika = "==0.11.2"
pillow = "==4.1.1"
pipenv = "==11.9.0"
ply = "==3.10"
positional = "==1.2.1"
potsdb = "==1.0.3"
prettytable = "==0.7.2"
prometheus-client = "==0.0.20"
prompt-toolkit = "==1.0.15"
protobuf = "==3.3.0"
psutil = "==5.4.2"
ptyprocess = "==0.5.2"
py-cpuinfo = "==3.3.0"
pyasn1 = "==0.4.2"
pycparser = "==2.18"
pycrypto = "==2.6.1"
pycryptodome = "==3.4.6"
pycups = "==1.9.73"
pygments = "==2.2.0"
pygobject = "==3.24.1"
pymdstat = "==0.4.2"
pynacl = "==1.2.1"
pyparsing = "==2.2.0"
pyperclip = "==1.6.0"
pyqt5 = "==5.9.2"
pysmi = "==0.1.3"
pysnmp = "==4.3.9"
pystache = "==0.5.4"
python-apt = "==1.4.0b3"
python-cinderclient = "==2.2.0"
python-dateutil = "==2.6.1"
python-debian = "==0.1.31"
python-glanceclient = "==2.7.0"
python-keystoneclient = "==3.12.0"
python-neutronclient = "==6.3.0"
python-novaclient = "==9.1.1"
python-openstackclient = "==3.11.0"
pytz = "==2017.3"
pyxdg = "==0.25"
pyyaml = "==3.12"
pyzmq = "==16.0.3"
qtconsole = "==4.3.0"
reportlab = "==3.4.0"
requests = "==2.18.4"
requestsexceptions = "==1.3.0"
rfc3986 = "==1.1.0"
roman = "==2.0.0"
rsa = "==3.4.2"
"ruamel.yaml" = "==0.15.19"
s3transfer = "==0.1.10"
scandir = "==1.5"
scipy = "==1.0.0.dev0+c226774"
seaborn = "==0.9.dev0"
secretstorage = "==2.3.1"
simplegeneric = "==0.8.1"
simplejson = "==3.13.2"
sip = "==4.19.6"
six = "==1.11.0"
ssh-import-id = "==5.7"
statsd = "==3.2.1"
stevedore = "==1.28.0"
system-service = "==0.3"
systemd-python = "==234"
tableprint = "==0.7.1"
tempita = "==0.5.2"
terminado = "==0.8.1"
testpath = "==0.3.1"
tornado = "==4.5.2"
traitlets = "==4.3.2"
treenote = "==1.7.8"
ubuntu-drivers-common = "==0.0.0"
ufw = "==0.35"
unattended-upgrades = "==0.1"
urllib3 = "==1.22"
usb-creator = "==0.3.3"
virtualenv = "==15.1.0"
virtualenv-clone = "==0.3.0"
wadllib = "==1.3.2"
warlock = "==1.3.0"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
websocket-client = "==0.44.0"
werkzeug = "==0.13"
widgetsnbextension = "==2.0.0"
wifi = "==0.3.8"
wrapt = "==1.10.11"
xkit = "==0.0.0"
zeroconf = "==0.19.1"
"zope.interface" = "==4.4.2"

[dev-packages]

[requires]
python_version = "3.6"
